<p id="notice"><%= notice %></p>

<h1>Listing Encuestas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Pregunta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @encuestas.each do |encuesta| %>
      <tr>
        <td><%= encuesta.nombre %></td>
        <td><%= encuesta.pregunta %></td>
        <td><%= link_to 'Show', encuesta %></td>
        <td><%= link_to 'Edit', admin_edit_encuesta_path(encuesta) %></td>
        <td><%= link_to 'Destroy', encuesta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Encuesta', admin_new_encuesta_path %>
