<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @encuesta.nombre %>
</p>

<p>
  <strong>Pregunta:</strong>
  <%= @encuesta.pregunta %>
</p>

<%= link_to 'Edit', admin_edit_encuesta_path(@encuesta) %> |
<%= link_to 'Back', admin_encuestas_path %>
